{{!-- <div class="blog-card">
    <div class="blog-header">
        <a href=""><h3>Blog Title</h3></a>
        <h4></h4>Posted by Userone on 01/01/2022</p>
    </div>
    <p class="blog-body">
        this is a really cool blog post, how amazing is this.
        this is a really cool blog post, how amazing is this.
        this is a really cool blog post, how amazing is this.
        this is a really cool blog post, how amazing is this.
        this is a really cool blog post, how amazing is this.
        this is a really cool blog post, how amazing is this.
        this is a really cool blog post, how amazing is this.
        this is a really cool blog post, how amazing is this.
        
    </p>
</div> --}}

<div class="blog-card">
    <div class="blog-header">
        <a href=""><h3>{{ title }}</h3></a>
        <h4></h4>Posted by {{ user.username }} on {{ format_date createdAt }}</p>
    </div>
    <p class="blog-body">
       {{ content }}
    </p>
</div>