
<div class="comment-holder">
<div class="comment-card">
    <div class="comment-body"><h4>{{ comment_text }}</h4></div>
    <div class="comment-footer"><h4>{{ user.username }}</h4><h4>{{ format_date createdAt }}</h4></div>
</div>
</div>