
<div class="comment-holder">
<div class="comment-card">
    <div class="comment-body"><h4>This is a really cool blog</h4></div>
    <div class="comment-footer"><h4>Ronnie Coleman</h4><h4>14/2/2022</h4></div>
</div>
</div>