<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body>
    <header>
      <nav class="nav">
      <a class="logo" href="/">Tech Blog</a>
        <div>
       <a href="/">Home</a>
      {{#if logged_in}}
        <button id="logout-button" class="logout-button">Logout</button>
      <a href="/dashboard">Dashboard</a>
      {{else}}
        <a href="/login">Login</a>
      {{/if}}
      </div>
    </nav>
    <main class="holder">
        {{{body}}}
    </main>
    

    <footer class="footer">
      <a class="footer-text" target=”_blank” href="https://github.com/Alistairhoughton">The Tech Blog Group <i class="far fa-copyright"></i></a>
  </footer>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </body>
   {{#if logged_in}}
      <script src="/js/logout.js"></script>
      {{/if}}

</html>

                    