<div class="login-holder">
  <div class="login-card-form">
    <form class="login-card" action="">
      <label for="username-input"></label>
      <input
        id="username-input"
        type="text"
        autofocus="true"
        class="form-input"
        placeholder="Username"
      />
      <label class="form-label" for="password-input"></label>
      <input
        id="password-input"
        type="password"
        autofocus="true"
        class="form-input"
        placeholder="Password"
      />

      <button id="login-button-id" type="submit" class="btn">Login</button>
      <a class="login-link" href="/signup">Sign up here</a>

    </form>
  </div>
</div>

<script src="/js/login.js"></script>