<div class="login-holder">
  <div class="login-card">
    <form id="new-blog-form" class="login-card" action="">
      <label for="blog-title-input"></label>
      <input
        id="blog-title-input"
        type="text"
        autofocus="true"
        class="form-input"
        placeholder="Blog title"
        name="blog-title"
      />
      <label class="form-label" for="blog-content-input"></label>
      <textarea
        class="blog-form-input"
        name="blog-content"
        id="blog-content-area"
        cols="30"
        rows="10"
      ></textarea>

      <button type="submit" class="btn">Add post</button>
    </form>
  </div>
</div>

<script src="/js/add-blog-post.js"></script>