
<div class="login-holder">
  <div class="login-card">
    <form class="login-card" action="">
      <label for="username-sign-up"></label>
      <input
        id="username-sign-up"
        type="text"
        autofocus="true"
        class="form-input"
        placeholder="Username"
      />
      <label class="form-label" for="password-sign-up"></label>
      <input
        id="password-sign-up"
        type="password"
        autofocus="true"
        class="form-input"
        placeholder="Password"
      />

      <button id="sign-up-id" type="submit" class="btn">Sign up</button>
      <a class="login-link" href="/login">login</a>

    </form>
  </div>
</div>

<script src="/js/signup.js"></script>