{{!-- <div class="edit-blog-container">
  <section class="edit-blog-header">
    <div class="edit-blog-title">Update Blog</div>
  </section>
  <section class="edit-blog-body">
    <form>
      <input
        type="text"
        class="edit-blog-title"
        id="edit-blog-title"
        value="{{this.blog_title}}"
      />
      <textarea
        type="text"
        class="edit-blog-content"
        id="edit-blog-content"
      >{{this.blog_content}}</textarea>
      <button class="update-btn" type="submit">Update</button>
      <button class="delete-btn" type="submit">Delete</button>
    </form>
  </section>
</div>

<script src="/js/delete-blog.js"></script>
<script src="/js/update-blog.js"></script> --}}

